<template>
  <div class="age-question">
    <span v-for="ageMark in ageMarks" :key="ageMark" class="age-question__option">
      <input
        v-model="selectedAge"
        type="radio"
        :id="`age-question-${options.id}-${ageMark}`"
        :name="`age-${options.id}`"
        :value="ageMark"
        class="age-question__input"
        :required="options.validation.required"
        @change="$emit('update', {
          value: selectedAge,
          id: options.id
        })"
      >
      <label
        class="age-question__label"
        :class="{
          'is-selected': selectedAge === ageMark
        }"
        :for="`age-question-${options.id}-${ageMark}`"
      >
        {{ ageMark }}
      </label>
    </span>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import type { QuestionOptions } from './types'

const ageMarks = ['<20', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80+']

export default Vue.extend({
  props: {
    options: Object as PropType<QuestionOptions>,
  },
  data() {
    return {
      ageMarks,
      selectedAge: null,
    }
  },
})

</script>
<style lang="scss" scoped>
.age-question {
  display: flex;
  justify-content: space-evenly;
  color: black;
  @media only screen and (max-width: 720px) {
    row-gap: 8px;
    flex-wrap: wrap;
  }

  &__option {
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-left-width: 0;
    flex-basis: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;

    &:first-child {
      border-left-width: 1px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-right-width: 1px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    @media only screen and (max-width: 720px) {
      flex-basis: 50%;

      &:nth-child(2n) {
        border-right-width: 1px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &:nth-child(2n+1) {
        border-left-width: 1px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

  }

  &__label {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;

    &:hover,
    &.is-selected {
      background-color: #a2e1dc;
    }

    &.is-selected {
      box-shadow: inset 0px 1px 3px 1px rgba(0,0,0,0.1)
    }

  }

  &__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  &__input:focus + &__label {
    background-color: #a2e1dc;
  }
}
</style>
