<template>
  <div class="comment-question">
    <textarea
      v-model="value"
      :placeholder="options.label"
      :required="options.validation.required"
      class="comment-question__input"
      @change="$emit('update', {
        value,
        id: options.id
      })"
    ></textarea>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import type { QuestionOptions } from './types'

export default Vue.extend({
  data() {
    return { value: '' }
  },
  props: {
    options: Object as PropType<QuestionOptions>,
  },
})

</script>
<style lang="scss">
.comment-question {
  max-width: 100%;
  width: 300px;

  &__input {
    width: 100%;
    min-height: 45px;
  }
}
</style>
