<template>
  <div class="email-question">
    <input
      type="email"
      v-model="value"
      :required="options.validation.required"
      @invalid="$emit('update', {
        errors: ['Email Question validation error'],
        id: options.id
      })"
      @input="$emit('update', {
      value,
      id: options.id
    })"/>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import type { QuestionOptions } from './types'

export default Vue.extend({
  data() {
    return {
      value: '',
    }
  },
  props: {
    options: Object as PropType<QuestionOptions>,
  },
})

</script>
<style>

</style>
