<template>
  <div class="password-question">
    <input
      type="password"
      v-model="value"
      :required="options.validation.required"
      pattern=".*(?=.*[0-9])(?=.*[a-z]).*"
      oninvalid=
        "setCustomValidity('Password must contain at least one lowercase letter and a number')"
      oninput="setCustomValidity('')"
      @invalid="$emit('update', {
        errors: ['Password Question validation error'],
        id: options.id
      })"
      @input="$emit('update', {
        value,
        id: options.id
      })"
    />
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import type { QuestionOptions } from './types'

export default Vue.extend({
  data() {
    return {
      value: '',
    }
  },
  props: {
    options: Object as PropType<QuestionOptions>,
  },
})

</script>
<style>

</style>
