<template>
  <div class="rating-question">
    <span
      class="rating-question__option"
      v-for="value in ratingOptions"
      :key="value"
    >
      <input
        v-model="selectedValue"
        type="radio"
        :id="`rating-question-${options.id}-${value}`"
        :name="`age-${options.id}`"
        :value="value"
        class="rating-question__input"
        :required="options.validation.required"
        @change="
          $emit('update', {
            value: selectedValue,
            id: options.id,
          })
        "
      />
      <label
        class="rating-question__label"
        :for="`rating-question-${options.id}-${value}`"
        :class="{
          'is-selected': selectedValue === value,
        }"
      >
        {{ value }}
      </label>
    </span>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import type { QuestionOptions } from './types'

const MIN_RATING = 1
const MAX_RATING = 5

const ratingOptions = new Array(MAX_RATING - MIN_RATING + 1)
  .fill(0)
  .map((v, i) => `${MIN_RATING + i}`)

export default Vue.extend({
  props: {
    options: Object as PropType<QuestionOptions>,
  },
  data() {
    return {
      ratingOptions,
      selectedValue: null,
    }
  },
})
</script>
<style lang="scss" scoped>
.rating-question {
  display: flex;
  justify-content: flex-start;
  color: black;
  max-width: 100%;
  width: 190px;
  gap: 4px;

  &__label {
    border: 1px solid lightgrey;
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #cecece;
    cursor: pointer;
    transition: .3s ease;
    background-color: #eeeeee;

    &:hover,
    &.is-selected {
      background-color: #a2e1dc;
      color: #c3a9a8;
    }
  }

  &__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  &__input:focus + &__label {
    background-color: #a2e1dc;
    color: #c3a9a8;
  }
}
</style>
