textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  display: inline-block;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  width: 100%;
  padding: 4px;
  height: 30px;
  box-sizing: border-box;
}