<template>
  <label class="base-label">
    {{ text }}<span class="base-label__note" v-if="note"> ({{ note }})</span>
    <slot />
  </label>
</template>
<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    text: String,
    note: String,
  },
})
</script>
<style lang="scss" scoped>
.base-label {
  color: #436574;
  &__note {
    color: #d4d4d4;
  }
}
</style>
