<template>
  <div class="question">
    <BaseLabel
      v-if="!isSubQuestion"
      class="question__label"
      :text="options.label"
      :note="labelNote"
    ></BaseLabel>
    <component
      :is="widgets[type]"
      v-bind="$props"
      v-on="$listeners"
      :labelNote="labelNote"
      class="question"
      @update="updateAnswer"
    >
    </component>
    <template v-if="currentSubQuestions.length > 0">
      <Question
        v-for="question in currentSubQuestions"
        :key="question.id"
        class="sub-question"
        :options="question"
        :type="question.type"
        @update="$emit('update', $event)"
        isSubQuestion
      />
    </template>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent, PropType, Ref, ref,
} from '@vue/composition-api'
import { QuestionOptions, Answer } from './questions/types'
import { widgets, WidgetType } from './widgets'
import BaseLabel from './base/BaseLabel.vue'

export default defineComponent({
  name: 'Question',
  inheritAttrs: false,
  components: {
    ...widgets,
    BaseLabel,
  },
  props: {
    type: {
      type: String as PropType<WidgetType>,
      required: true,
    },
    options: {
      type: Object as PropType<QuestionOptions>,
      required: true,
    },
    isSubQuestion: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const currentAnswer = ref('')
    const currentSubQuestions: Ref<QuestionOptions[]> = ref([])

    const labelNote = computed(() => {
      if (props.options?.validation?.required) return 'required'
      return ''
    })

    const updateAnswer = (answer: Answer) => {
      currentAnswer.value = answer.value as string
      const filteredSubquestions = props.options?.sub_questions
        ?.filter((sq) => sq.values.includes(answer.value as string))
      if (filteredSubquestions && filteredSubquestions.length > 0) {
        currentSubQuestions.value = filteredSubquestions[0].questions
      } else {
        currentSubQuestions.value = []
      }
      emit('update', answer)
    }

    return {
      widgets,
      currentAnswer,
      currentSubQuestions,
      labelNote,
      updateAnswer,
    }
  },
})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.question {
  &__label {
    display: block;
    margin-bottom: 8px;
  }
  margin-bottom: 16px;
}

.sub-question {
  margin-top: 8px;
  max-width: 100%;
}
</style>
