<template>
  <form
    class="questionnaire"
    @submit.prevent="submitForm"
  >
    <ResultWidget
      :questions="questions"
      :answers="answers"
      v-if="Object.keys(answers).length > 0"
      class="questionnaire__results"
    />
    <div class="questionnaire__wrapper">
      <h1 class="questionnaire__title">{{ title }}</h1>
      <ol class="questionnaire__list">
        <li v-for="question in questions" :key="question.id" class="questionnaire__list-item">
          <Question
            :options="question"
            :type="question.type"
            @update="updateAnswers"
          />
        </li>
      </ol>
      <footer class="questionnaire__footer">
        <div class="questionnaire__status">{{ formStatus }}</div>
        <button class="questionnaire__submit" type="submit">Submit</button>
      </footer>
    </div>
  </form>
</template>

<script lang="ts">
import Vue from 'vue'
import areRequiredFilled from '@/utils'
import Question from './Question.vue'
import ResultWidget from './ResultWidget.vue'
import { Answer, QuestionOptions } from './questions/types'

export default Vue.extend({
  components: {
    Question,
    ResultWidget,
  },
  props: {
    title: String,
    dataSource: String,
  },
  data() {
    return {
      questions: [] as QuestionOptions[],
      answers: {} as { [id: number]: Answer },
      formStatus: '',
    }
  },
  async beforeMount() {
    if (this.dataSource) {
      const response = await fetch(this.dataSource)
      const data = await response.json()
      Vue.set(this, 'questions', data.questions)
    }
  },
  methods: {
    submitForm() {
      const isSuccess = areRequiredFilled(this.questions, this.answers)
      if (isSuccess) this.formStatus = 'Success'
      else this.formStatus = 'Not valid'
    },
    updateAnswers(answer: Answer) {
      this.formStatus = ''
      if (answer.errors) {
        this.formStatus = 'Not valid'
      }
      Vue.set(this.answers, answer.id, answer)
    },
  },
})
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.questionnaire {
  padding: 20px;
  border-radius: 8px;
  color: #476cb6;
  background-color: #fff;
  max-width: 900px;
  width: 100%;
  text-align: left;
  position: relative;

  &__results {
    position: absolute;
    right: -40px;
    top: 15%;
    animation: slide .6s ease;

    @media only screen and (max-width: 1024px) {
      right: 8px;
    }
    @media only screen and (max-width: 720px) {
      display: none;
    }
  }

  &__wrapper {
    max-width: 645px;
  }

  &__list {
    padding-left: 0;
    list-style-position: inside;

    &-item {
      &::marker {
        font-weight: bold;
      }
    }
  }

  &__title {
    color: #3c62b1;
    font-size: 24px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__status {
    font-weight: bold;
  }

  &__submit {
    color: #fff;
    background-color: #47c3ba;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0;
    height: 45px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    margin-top: 8px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
</style>
