<template>
  <div class="result-widget">
    <div
     class="result-widget__question"
     v-for="question in answeredQuestions"
     :key="question.id"
    >
      <div class="result-widget__label">{{ question.label }}</div>
      <div class="result-widget__answer">{{ answers[question.id].value }}</div>
    </div>
    <hr class="result-widget__break">
    <footer class="result-widget__footer">
      Date of experience: {{ todayDate }}
    </footer>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent, PropType } from '@vue/composition-api'
import { QuestionOptions, Answer } from './questions/types'

export default defineComponent({
  props: {
    questions: {
      type: Array as PropType<QuestionOptions[]>,
      required: true,
    },
    answers: {
      type: Object as PropType<{ [id: number]: Answer }>,
      required: true,
    },
  },
  setup(props) {
    const getAnsweredQuestions = (questions: QuestionOptions[]) => questions.reduce((acc, q) => {
      let result = [...acc]
      if (props.answers?.[q.id]) result.push(q)
      if (q.sub_questions) {
        q.sub_questions.forEach((sq) => {
          result = result.concat(getAnsweredQuestions(sq.questions))
        })
      }
      return result
    }, [] as QuestionOptions[])

    const answeredQuestions = computed(() => getAnsweredQuestions(props.questions))

    const todayDate = computed(() => {
      const today = new Date()
      return `${today.getFullYear()}/${today.getMonth() + 1}/${today.getDate()}`
    })

    return {
      todayDate,
      answeredQuestions,
    }
  },
})
</script>
<style lang="scss" scoped>
.result-widget {
  box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
  background-color: #f4f4f4;
  font-size: 12px;
  padding: 16px;
  border-radius: 8px;
  width: 255px;
  box-sizing: border-box;

  &__question {
    margin-bottom: 4px;
  }

  &__label {
    color: #134255;
    font-weight: bold;
  }

  &__answer {
    color: #567583;
  }

  &__break {
    border-color: #dd6366;
  }

  &__footer {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    text-align: center;
  }
}
</style>
