<template>
  <div id="app">
    <Questionnaire dataSource="/questions.json" title="Customer Alliance Form" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Questionnaire from './components/Questionnaire.vue'

export default Vue.extend({
  name: 'App',
  components: {
    Questionnaire,
  },
})
</script>

<style lang="scss">
html, body {
  height: 100%;
  background-color: #f1f1f1;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
</style>
